/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER
---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
/*------ CSS RESET-------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid grey;
}

/*------ GENERAL HELPER CLASSES-------*/

.left         { text-align: left; }
.centered     { text-align: center; }

/*-----UNIVERSAL STYLES------------*/

body {
 font-family: "Source Code Pro";
 /* font-weight: 200; */

}

.no-padding { padding: 0; }

.padded-1 { padding: 1%; }
.padded-3 { padding: 3%; }
.padded-5 { padding: 5%; }

.padded-top-1 { padding-top: 1%;}

.mob-show { display: none;}

.bg-img {
  /* background-color: grey; */
  background-size: cover;
  background-position: center;
}

header {
  min-height: 60vh;
  position: relative;
  overflow: hidden;
}

header video {
  position: absolute;
  min-width: 100%;
  z-index: -100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.menu {
  background-color: rgba(200,200,200,0.6);
  position:fixed;
  padding: 1rem 4rem;
  width: 10rem;
  top:5rem;
  right:-2rem;
  transform: rotate(90deg);
}

  /* position is usually set to static which means that is moves as the page is moving, but fixed means that is reamins in the specified positon, in this case (top).
  .sec-main {
  position: relative;
  height: 560px;
  background: url(https://source.unsplash.com/kVf7VRgg4p8/1920x1080) no-repeat center center;
  background-size: cover;
}

  .main-heading {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;

  */
