section {
padding: 1%;
 border: solid grey;

header {
  min-height: 50vh;
  background-size: cover;
  background-position: 50% 50%;
  background-color: grey;
  text-align: center;
}


.menu {
  background-color: rgba(200,200,200,0.6);
  position:fixed;
  padding: 1rem 4rem;
  width: 10rem;
  top:5rem;
  right:-2rem;
  transform: rotate(90deg);
}

  /* position is usually set to static which means that is moves as the page is moving, but fixed means that is reamins in the specified positon, in this case (top).
  */
