

* {
 padding: 1%;
 border: 1px solid grey;
}

header {
  min-height: 50vh;
  background-size: cover;
  background-position: 50% 50%;
  background-color: grey;
  text-align: center;}

video{
  height: 100%;
  width: 100%;
}


.menu {
  background-color: rgba(200,200,200,0.6);
  position:fixed;
  padding: 1rem 4rem;
  width: 10rem;
  top:5rem;
  right:-2rem;
  transform: rotate(90deg);
}

  /* position is usually set to static which means that is moves as the page is moving, but fixed means that is reamins in the specified positon, in this case (top).
  .sec-main {
  position: relative;
  height: 560px;
  background: url(https://source.unsplash.com/kVf7VRgg4p8/1920x1080) no-repeat center center;
  background-size: cover;
}

  .main-heading {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;

  */
