<!DOCTYPE html>
<html>
<head>
  <!--This is the head of my html.(this is a comment which the browser will
  ignore) -->
  <title>Pamela Art Events</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/hcf7bmo.css">
  <link href="main.css" type="text/css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<!-- - - - - - - This is where the main body begins- - - - - - - - - -->
<body>
<!-- - - - - - - Header- video and text over it- - - - - - - - - - - -->

<!-- - - - - - - - This is for the menu and drop down menu- - - - - - -->

<!-- - - - - - - - - - Insert drop down menu function here?- - - - - - --->
{% if page.header-banner == true %}
<header class="grid-middle-center">

    <video autoplay muted loop>
      <source src="vid/IntroVid.mp4" type="video/mp4">
        UPDATE YOUR BROWSER
    </video>

  <div>
    <div class="row row-skin push-1 pull-3">
      <h1 class="centered row-inside">ART SPACE</h1>
    </div>
    <h3 class="centered">
    This is a subheading
    </h3>
  </div>

</header>
{% endif %}
<nav>
  <h1 class="menu"> MENU </h1>
  <!-- this section will only show when menu is clicked - - -  -->
  <div>
    <a href=index.html#current> Current Events </a>
    <a href=index.html#upcoming> Look Out For</a>
    <a href=index.html#sneak> Sneak Peeks</a>
    <a href=index.html#review> Upon Reflection </a>
    <a href=index.html#location> Find Locations </a>
  </div>
</nav>

{{content}}


<footer class="grid">
  <div class="col-6_xs-12">
    <h1 class="left">Stay in the know</h1>
  </div>
  <div class="col-6_xs-12 form">
    <form action="https://formspree.io/youemail@gmail.com" method="POST">
      <input type="text" name="name" id="name" placeholder="Your Name" />
      <input type="email" name="_replyto" id="email" placeholder="Your Email" />
      <textarea name="message" id="message" placeholder="What would you like to see..."></textarea>
      <input type="submit" value="Submit" class="button" />
    </form>
  </div>
</footer>


</body>
<!-- - - - - - - - -This is where the body ends- - - - - - - - - - - -  - - - --->
</html>
